<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - vendor cube Admin Dashboard</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/app.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
 
    <div id="auth">

        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 mx-auto">
                    <div class="card pt-4">
                        <div class="card-body">
                            <div class="text-center mb-5">
                                <img src="assets/images/favicon.png" height="48" class='mb-4' alt="image">
                                <h3>Sign Up</h3>
                                <p>Please fill the form to register.</p>
                            </div>
                            <form action="./registration" method="post">
                                <div class="row register-form">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label >First Name</label>


                                            <input type="text" class="form-control" name="firstname" placeholder="Enter Your Name">


                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label >Last Name</label>


                                            <input type="text" class="form-control" name="lastname" placeholder="Enter Your Last Name">


                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label >Your Email</label>


                                            <input type="email" class="form-control" name="email" placeholder="Enter Your Email">


                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label >Phone Number</label>


                                            <input type="telephone"  maxlength="10" class="form-control" name="phonenumber" placeholder="Enter your phone number">


                                        </div>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label >Category</label>
                                            <select name="category" id="" class="form-control" >
                                                 
                                                
                                                <option >none </option>
                                                <option >engineering </option>
                                                <option >Non-engineering </option>


                                            </select>


                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Password </label>

                                            <input type="Password" class="form-control" name="Password" placeholder="Enter your Password">

                                        </div>
                                    </div>


                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label>Confirm Password</label>

                                            <input type="Password" class="form-control" name="ConfirmPassword" placeholder="Enter Your confirm password">

                                        </div>
                                    </div>



                                </diV>

                                <a href="./index">Have an account? Login</a>

                                <div class="clearfix">
                                    <button type="submit" value="Register" class="btn btnRegister btn-primary float-right">Submit</button>
                                </div>
                            </form>
                            <div class="divider">
                                <div class="divider-text">OR</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn btn-block mb-2 btn-primary"><i data-feather="Phone Number"></i>
                                        Phone Number</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-block mb-2 btn-secondary"><i data-feather="Google"></i>
                                        Google</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="assets/js/feather-icons/feather.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script src="assets/js/main.js"></script>
</body>

<footer class="footer2">
    <div class="footer3">


        <div class="flex_dir">

            <img src="" alt="">

            <p>WCUBE is a fast growing, Bottom Of The Pyramid focused B2B procurement enablement platform
                for
                large size enterprises</p>


        </div>

        <div class="flex_dir">
            <h6 class="h6">
                NAVIGATION
            </h6>


            <ul>

                <li>

                    <a href=""> home</a><br>
                </li>
                <li>


                    <a href=""> about</a><br>
                </li>
                <li>

                    <a href=""> ImExNeer</a><br>
                </li>
                <li>

                    <a href=""> REGISTER</a>
                </li>
            </ul>


        </div>

        <div class="flex_dir">


            <h6 class="h6">CONTACT US</h6>
            <P> WeWork Cyber Hub Gurgaon India
                </BR>
                Phone: </BR>
                +91 76691 04741
                </BR>
                Email: </BR>
                info@wcubeindia.com
                vendors@wcubeindia.com
            </P>

        </div>

        <div class="end_panel_content">

        </div>


    </div>
</footer>



</html>